
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::placeholder {
    color: white;
    opacity: 0.7;
}

:-ms-input-placeholder {
    color: white;
    opacity: 0.7;
}

::-ms-input-placeholder {
    color: white;
    opacity: 0.7;
}

.background {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url("./Images/login-background.jpg");
    background-size: cover;
}

.container {
    position: absolute;
    width: 500px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid black;
}



.header {
    display: flex;
    justify-content: center;
    font-family: 'Bungee Shade', cursive;
}


.login > * {
    margin-bottom: 10px;
    width: fit-content;
}

.submit-div {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    padding-left: 40%;
}

.label-username, .label-password {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}

.username, .password{
    width: 400px;
    background-color: transparent;
    border: none;
    outline: none;

    height: 25px;
    /* margin-left: 10%; */
    margin-bottom: 10px;
}

button {
    border-radius: 5px;
    width: 100px;
    background-color: #3ace30de;
    border: 1px solid white;
    cursor: pointer;
}

button:hover {
    background-color: rgba(239, 56, 56, 0.749);
}


.forgot-password > * {
    color: black;
    font-weight: bold;
    text-decoration: none;

}

.optional {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35%;
}


.checkbox {
    display: flex;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.password-container, .username-container {
    display: flex;
    gap: 0;
    border-bottom: 1px solid black;
    margin-left: 10%;
}

.alternative {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.signup {
    color: black;
    padding: 2px;
    border-radius: 8px;
    z-index: 1;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.8);
}


.icons {
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
    transform: translateY(-20%);
}