@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Imprima&family=Tienne:wght@700&display=swap");
* {
  font-family: "Imprima";
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 13px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: #311e10;
}

body::-webkit-scrollbar-thumb {
  background: #eabe7c;
  border-radius: 4px;
  border: 2px solid #f6f7ed;
}

body::-webkit-scrollbar-thumb:hover {
  background: #d9dd92;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-80%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-1 {
  animation: bounce 1s infinite;
}
.animate-bounce-2 {
  animation: bounce 1s infinite;
  animation-delay: 150ms;
}
.animate-bounce-3 {
  animation: bounce 1s infinite;
  animation-delay: 300ms;
}
.animate-bounce-4 {
  animation: bounce 1s infinite;
  animation-delay: 450ms;
}
